MySchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Document Root:root
-->
<xsd:schema xmlns:xsd="http://www.w3.org/200l/XMLSchema">		   
	<xsd:element name="breakfast_menu">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="food" minOccurs="O" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="food">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="name" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="price" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="description" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="calories" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:simpleType name="money">
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
	
	<xsd:element name="name" type="xsd:string"/>
	<xsd:element name="price" type="money"/>
	<xsd:element name="description" type="xsd:string"/> 
	<xsd:element name="calories" type="xsd:integer"/>	
</xsd:schema>

